body {
  /* background-color: #252e3f; */
  /* the images below are the same, but: blue, purple, or red */
  /* background-image: url("./images/background_blue.jpg"); */
  /* background-image: url("./images/background_purple.jpg"); */
  background-image: url("./images/background_red.jpg");

  background-attachment: fixed;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
}

.SkillFrame-header {
  border-style: ridge;
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #dfbf98;
  font-family: serif;
  letter-spacing: 2px;
  font-size: 14px;

  color: #f6fcfc;
  border-radius: 6px;
  height: 2em;
  overflow: hidden;
  padding: 0px;
  cursor: pointer;

  font-family: monospace;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.SkillFrame {
  padding: 0px;
  cursor: pointer;
  font-size: 12px;
  height: 2em;
  overflow: hidden;

  border-left: 4px;
  border-top: 2px;
  border-bottom: 2px;
  border-right: 4px;
  border-style: outset;
  border-radius: 6px;
  border-color: #e0c3a0;
  font-family: system-ui;
  font-weight: bold;
  color: #f6fcfc;
  background-image: linear-gradient(#0a0e0e 2%, #212c2f 80%, #212c2f 10%);
}

.GuideRow {
  background-image: linear-gradient(#9c9c9c80 2%, #636d70a3 80%, #6f787a87 10%);
  font-weight: bold;
  border-color: #746868b0;
  cursor: initial;
}

.ButtonsDiv {
  display: flex;
  flex-wrap: wrap;
  width: 23em;
  position: fixed;
  bottom: 3vh;
  right: 4em;
}

.ButtonsDiv>* {
  margin: 5px;
}

.CharacterPortrait {
  background-size: 9em;
  width: 20em;
  height: 20em;
  background-repeat: no-repeat;
  pointer-events: none;
  left: 61vw;
  bottom: -11em;
  position: fixed;
  z-index: -1;
}

.FilterTags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.FilterTag {
  color: white;
  background-color: #40616a;
  border-radius: 2px;
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.FilterDiv {
  position: fixed;
  z-index: 2;
  left: 20px;
  top: 0px;
  width: 58vw;
  background-color: black;
  display: flex;
  height: 100px;
  cursor: initial;

  padding: 0px;
  font-size: 12px;
  overflow: hidden;

  border-left: 4px;
  border-top: 2px;
  border-bottom: 2px;
  border-right: 4px;
  border-style: outset;
  border-radius: 6px;
  border-color: #e0c3a0;
  font-family: system-ui;
  font-weight: bold;
  color: #f6fcfc;
  background-image: linear-gradient(#0a0e0e 2%, #212c2f 80%, #212c2f 10%);
}

.FilterBar {
  height: fit-content;
  margin: 10px;
}

.soulClarityLabel {
  color: white;
  line-height: 20px;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
}

.ToggleButton {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.ModeButton {
  margin-right: 1em;
  background-color: tan;
  border-radius: 25px;
  border-style: double;
  cursor: pointer;
}

.Directions-BG {
  position: fixed;
  height: 80vh;
  max-height: 80vh;
  left: 62vw;
  width: 36vw;
  overflow-y: auto;
}

.Directions {
  position: relative;
  /*right: 5vw; */
  /*top: 60vh; */
  /*border: 1px solid black;*/
  width: 100%;
}

.SkillFramePadding {
  padding: 5px;
  width: 12em;
}

.FlexBreak {
  flex-basis: 100%;
  height: 0;
}

.StepsContainer {
  display: flex;
  flex-wrap: wrap;
}

.FancyDividerDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.FancyDivider {
  border-bottom: 2px ridge tan;
  margin-bottom: 5px;
  width: 70%;
}

.SkillLevelSteps {
  display: flex;
  flex-wrap: wrap;
}

.SkillLevelSteps>* {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.Directions-cell {
  font-size: 12px;
  cursor: pointer;
  border-color: #e0c3a0;
  border-left: 4px solid #e0c3a0;
  border-right: 4px solid #e0c3a0;
  border-radius: 8px;
  color: white;
  background-image: linear-gradient(#43526e 2%, #212c2f 80%, #212c2f 10%);
}

.Directions-SoulTransfer {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #c5c5c5;
  text-decoration: underline;
  margin-bottom: 5px;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
  height: fit-content;
  border: 2px solid #494747;
}

.Directions-cell:hover {
  background-color: #ddd;
}

.Star {
  font-size: 18px;
  font-family: fantasy;
  cursor: pointer;
  padding: 3px;
}

.Star:hover {
  background-color: #ffffff1a;
}

.SkillPointDisplay {
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 10px;
}

.SkillHeader {
  font-size: 16px;
  line-height: 30px;
  cursor: initial;
}

.SkillPointTable {
  display: flex;
  flex-wrap: wrap;
}

.SkillPointTable>div {
  flex-basis: 40%;
  flex-grow: 1;
  margin: 1px 2px 2px 1px;
  height: 30px;
  position: relative;
}

.SkillPointTableItem {
  width: 100%;
  display: flex;
}

.SkillPointTableItem>div {
  margin-left: 7px;
}

.SkillText {
  font-size: 14px;
  line-height: 30px;
}

.DiscountTag {
  position: absolute;
  right: 5px;
  top: 2px;
}

.DiscountTag-name {
  text-transform: uppercase;
  font-size: 10px;
}

.DiscountTag-number {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.CostTag {
  position: absolute;
  right: 7px;
  line-height: 25px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.SkillOrb {
  border: 1px solid;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  align-self: center;
  font-family: cursive;
  font-weight: bolder;
  font-size: 18px;
  line-height: 17px;
  color: #eadac6;
}

.SkillCheck {
  border: 3px groove #dfbf98;
  border-radius: 25px;
  width: 13px;
  height: 13px;
  align-self: center;
  font-weight: bolder;
  font-size: 22px;
  line-height: 6px;
  color: #e7be20;
}

.CustomBuild {
  position: fixed;
  left: 61vw;
  overflow-y: auto;
  height: 80vh;
  width: 36vw;
}

.CustomBuild-cell {
  height: 2em;
  overflow: hidden;
  min-width: 20em;
}

.CustomBuild-header {
  width: 100%;
  border: 1px solid black;
  padding: 1em;
  background-color: white;
  font-size: 14px;
}

.tags {
  display: flex;
  margin-left: 4px;
}

.tag {
  color: white;
  background-color: #40616a;
  border-radius: 2px;
  margin-right: 10px;
}

.FacetTable {
  display: table;
  table-layout: auto;
  width: 60vw;
  padding: 0em 1em 1em 1em;
}

.FacetResultTable {
  table-layout: fixed;
  display: table;
  width: 100%;
  padding: 0em 1em 1em 1em;
}

.FacetResultTable-row {
  background-color: #212c2f;
}

.FacetResultTable-row td:nth-child(1) {
  width: 150px;
}

.FacetResultTable-row:nth-child(even) {
  background-color: #3a494d;
}

.FacetResultTable-row:hover {
  background-color: rgb(75, 94, 99);
  opacity: 0.8;
  outline: 1px dashed yellow;
}

.FacetTable-cell {
  border: 1px solid #ddd;
  padding: 0px;
  cursor: pointer;
  font-family: monospace;
  font-size: 12px;
  height: 2em;
  overflow: hidden;
}

.FacetTable-header {
  border: 1px solid black;
  font-size: 14px;
}

.FacetTable-row {
  background-color: #212c2f;
}

.FacetTable-row td:nth-child(1) {
  width: 150px;
}

.FacetTable-row td:nth-child(2) {
  width: 20px;
}

.FacetTable-row:hover {
  background-color: rgb(75, 94, 99);
  opacity: 0.8;
  outline: 1px dashed yellow;
}

.Warning-box {
  color: crimson;
  text-decoration: underline;
  width: 100%;
  margin-left: 2.5em;
  position: relative;
  font-family: cursive;
  line-height: 25px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}